* {
  margin: 0;
  padding: 0;
}

.main {
  font-family: Arial, Helvetica, sans-serif;
}
.bloco {
  color: white;
  width: fit-content;
  margin: 8px;
  padding: 8px 25px 20px 8px;
}

#bloco-1 {
  background-color: #e08e39;
  border: 5px solid #eca651;
}

#bloco-2 {
  background-color: #3d7e4e;
  border: 5px solid #50a776;
}

#bloco-3 {
  background-color: #1e4732;
  border: 5px dashed #65cd7a;
}
#bloco-4 {
  background-color: #dd3f2a;
  border: 5px dashed #e7786b;
}
