* {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid black;
  margin: 0 auto;
  text-align: center;
}

main {
  height: 600px;
  width: 800px;
  margin: 0 auto;
  position: relative;
}

aside {
  width: 180px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

aside:active {
  background-color: #000;
  color: white;
}

button:active {
  background-color: white;
  color: #000;
}
