* {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

main {
  height: 600px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

p {
  padding: 10px;
}

aside {
  width: 180px;
  border: 1px solid black;
  position: fixed;
  right: 100px;
  bottom: 50px;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  height: 30px;
  width: 100%;
  position: sticky;
  bottom: 0;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

button:active {
  background-color: white;
  color: #000;
}

aside:has(button:active) {
  background-color: #000;
  color: white;
}
