.longe-bordas {
  background-color: #ffa6a9;
  padding: 32px;
}

.afastado {
  background-color: #77c0ed;
  margin: 32px 24px 16px 8px;
}
.alto {
  background-color: #c3e887;
  margin-top: 40px;
  height: 300px;
}

.largo {
  background-color: #ffe396;
  width: 500px;
}

.bordado {
  background-color: #af9bcc;
  border: black 1px double;
}

.sumido {
  display: none;
}
